.update_time {
  font-size: 12px;
  color: #6B7280;
  line-height: 12px;
  font-weight: normal;
  margin-top: 6px;
}

.extra {
  display: flex;
  align-items: center;
}

.content {
  height: 100%;
  padding: 16px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 1px 0px 0px #00000012;
}