.type_tag {
  background: #B0EBFF;
  border-radius: 10px;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 6px;
}

.func_name {
  font-size: 12px !important;
  
  &:hover {
    text-decoration: underline;
  }
}