.bth {
  &.loading {
    position: relative;
    cursor: not-allowed;

    .spinner {
      font-size: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      color: currentColor;
    }

    .btn_content {
      display: inline-block;
      visibility: hidden;
    }
  }
}