.step_node {
  .step_node_header {
    color: #2AB2D9;
    font-size: 13px;
    font-weight: 550;
    line-height: 1;
  }

  .step_node_body {
    margin-bottom: 6px;
    margin-top: 6px;
  }

  .step_node_text {
    font-size: 12px;
    font-weight: 500;
    color: var(--theme-color);
  }

  .actions {
    padding-top: 6px;
  }
}

.conditions {
  padding: 0 0 8px 0;

  &::empty {
    display: none;
  }

  .condition_handle {
    position: relative;
    padding: 0 20px;
    text-align: right;
    font-size: 14px;
    color: #9CA3AF;

    &+.condition_handle {
      margin-top: 8px;
    }
  }
}