.ant-pro-card {
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 1px 0px 0px #00000012;

  &+.ant-pro-card {
    margin-top: 24px;
  }
}

.ant-btn {
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  padding-inline: 12px;

  &:active:not(.ant-btn-loading, [disabled], .ant-btn-text) {
    >span {
      transform: translateY(.5px);
    }
  }

  &.ant-btn-default,
  &.ant-btn-variant-outlined {
    --ant-btn-shadow:
      0 -1px 0 0 #b5b5b5 inset,
      0 0 0 1px rgba(0, 0, 0, 0.1) inset,
      0 0.5px 0 1.5px #fff inset;

    &.gray-mode {
      --ant-btn-shadow: none;
      --ant-btn-bg-color: #e3e3e3;
      --ant-btn-bg-color-hover: #ccc;
    }
  }

  &.ant-btn-variant-text {
    --ant-btn-text-color: #888;
  }

  &.ant-btn-variant-outlined,
  &.ant-btn-variant-solid {
    --ant-btn-border-width: 0;
  }

  &.ant-btn-variant-solid {
    --ant-btn-shadow:
      0 -1px 0 1px rgba(0, 0, 0, 0.8) inset,
      0 0 0 1px var(--primaryColor) inset,
      0 0.5px 0 1.5px hsla(0, 0%, 100%, 0.25) inset;
  }
}

.ant-drawer {
  .ant-drawer-mask {
    --ant-color-bg-mask: rgba(0, 0, 0, .1);

    &.ant-drawer-mask-blur {
      backdrop-filter: blur(.5)
    }
  }

  .ant-drawer-header {
    background-color: #f3f3f3;
    border-bottom: 1px solid #e3e3e3;
  }

  .ant-drawer-body {
    padding: 0;
  }
}

.ant-modal-root {
  .ant-modal-wrap {
    height: 100vh;
    overflow: hidden;
  }

  .ant-modal-mask {
    --ant-color-bg-mask: rgba(0, 0, 0, .1);
  }

  .ant-modal-container {
    padding: 0;

    .ant-modal-close {
      top: 6px;
    }

    .ant-modal-header {
      --ant-modal-header-bg: #f3f3f3;
      --ant-modal-header-padding: 12px 16px;
      --ant-modal-header-margin-bottom: 0;
      --ant-modal-header-border-bottom: 1px solid #e3e3e3;
    }

    .ant-modal-title {
      --ant-modal-title-font-size: 14px;
      --ant-modal-title-color: var(--primaryColor);
    }

    .ant-modal-body {
      padding: 16px;
      overflow-y: auto;
      max-height: calc(100vh - 160px);
      -webkit-overflow-scrolling: touch;
    }

    .ant-modal-footer {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      --ant-modal-footer-margin-top: 0;
      --ant-modal-footer-border-top: 1px solid #e3e3e3;
    }
  }
}

.ant-form-item {
  margin-bottom: 12px;

  .ant-form-item-label {
    font-size: 12px;
    font-weight: 500;
    color: var(--primaryColor);

    >label {
      &.ant-form-item-required {
        &::before {
          display: none;
        }

        &::after {
          display: inline-block;
          margin-inline-start: 4px;
          color: #ff4d4f;
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
          content: "*";
          visibility: visible !important;
        }
      }
    }
  }
}

.ant-input-search {
  .ant-btn.ant-btn-default.ant-input-search-btn {
    box-shadow: none;
    --ant-btn-border-width: 1px;
    --ant-btn-border-color: var(--borderColor);
  }
}

.custom-form-list {
  .ant-pro-form-list-container {
    width: 100%;
  }

  .ant-pro-form-list-action {
    height: auto;
  }

  .ant-pro-form-list-item {
    padding: 16px 16px 0 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    background: #f9f9f9;
    border: 1px dashed #d9d9d9;
  }
}

.ant-dropdown {
  .ant-dropdown-menu {
    padding: 0;

    .ant-dropdown-menu-item {
      border-radius: 0;
      padding: 9px 12px;

      .ant-dropdown-menu-item-icon {
        font-size: 22px;
      }

      &+.ant-dropdown-menu-item {
        border-top: 1px solid #f0f0f0;
      }
    }
  }
}

.ant-pro-page-container {
  .ant-pro-page-container-children-container {
    padding-inline: 24px;
  }

  &.full-screen {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ant-pro-grid-content {
      flex: 1;
      overflow: hidden;

      .ant-pro-grid-content-children,
      .ant-pro-page-container-children-container {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}