* {
  box-sizing: border-box;
  font-family: "Latin";
}

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  @import (less, multiple) './custom.less';
}

.app-wrapper {
  height: 100vh;
  position: relative;

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 64px;
    transform: translate3d(-50%, -50%, 0);
  }
}

.visb-hide {
  visibility: hidden;
}

&::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

&::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 2px;
  background: #f2f2f2;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

