.shopify-app {
  .shopify {
    @import (less, multiple) './shopify/ant-modal.less';
    @import (less, multiple) './shopify/ant-container.less';
    @import (less, multiple) './shopify/ant-btn.less';
    @import (less, multiple) './shopify/ant-table.less';
    @import (less, multiple) './shopify/ant-card.less';
    @import (less, multiple) './shopify/ant-input.less';
    @import (less, multiple) './shopify/ant-tag.less';
    @import (less, multiple) './shopify/ant-drawer.less';
  }
}

.app-container {
  height: 100vh;
  position: relative;
  background: #f1f1f1;
}

.lazy-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.visb-hide {
  visibility: hidden !important;
}