.shopify-app {
  @import (less, multiple) './shopify-theme.less';
}

.app-container {
  min-height: 100vh;
  position: relative;
  background: #f2f2f2;
}

.lazy-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}