.spinner {
  display: inline-block;

  @keyframes global-keyframes-spin {
    to {
      transform: rotate(1turn)
    }
  }

  svg {
    fill: currentColor;
    animation: global-keyframes-spin .4s linear infinite;
  }
}