.footer {
  display: flex;
  align-items: center;
  margin-top: 16px;

  a {
    font-size: 14px;
    color: var(--theme-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer_label {
  font-size: 14px;
  color: #999;
}