.container {
  position: relative;
  margin: 0 -16px 0 -20px;

  .title {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #2ab2d9;
  }

  .icon,
  .step_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }

  .icon {
    line-height: 0;
    font-size: 20px;
    left: -10px;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  .step_icon {
    right: 16px;
    line-height: 0;
    font-size: 20px;
    color: #9CA3AF;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  .desc {
    font-size: 16px;
    color: #0D082C;
    margin-top: 6px;
  }

  .title,
  .desc {
    padding: 0 16px 0 20px;
  }
}