body {
  .node_desc {
    display: block;
  }

  .title,
  .description {
    margin: 0;
  }

  .title {
    font-size: 14px;
    color: #2ab2d9;
    font-weight: 500;
    position: relative;
    width: 100%;

    &.has_icon {
      padding-right: 40px;
    }

    .edit_btn {
      color: var(--primaryColor);
      display: inline-block;
      padding: 3px;
      line-height: 0;
      border-radius: 4px;
      margin-left: 4px;

      &:hover {
        background-color: #f6f6f6;
      }
    }

    .title_icon {
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      
      img {
        height: 100%;
      }
    }
  }

  .description {
    font-size: 16px;
    color: #0D082C;
    margin-top: 4px;
  }
}