.wrapper {
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid #8A8A8A;
  background: #f9f9f9;


  pre {
    padding: 0;
    margin: 0;
    border: none;
    color: var(--theme-color);
    font-size: 13px;
    background: transparent;
  }

  :global {
    .ant-typography {
      margin-bottom: 0;
      color: var(--theme-color);
      font-size: 13px;
    }
  }

  .tags {
    margin-bottom: -8px;

    :global {
      .ant-tag {
        margin-bottom: 8px;
      }
    }
  }
}