.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  padding: 12px 0 0 0;
  position: relative;
}

.page_title {
  line-height: 24px;
}

.update_time {
  font-size: 10px;
  color:  #6B7280;
  line-height: 12px;
  font-weight: normal;
  margin-top: 4px;
}