.table {
  &:not(:root):fullscreen {
    padding: 36px 24px;
  }

  .table_inner {
    width: 100%;

    &.spinning_mask_opaque {
      :global {
        .ant-table-content {
          overflow: hidden !important;
        }

        .ant-spin-blur {
          opacity: 1;

          &::after {
            opacity: 0;
          }
        }

        .ant-empty {
          opacity: 0;
        }
      }
    }
  }

  :global {
    .ant-pro-card-body {
      padding: 0;
    }

    .ant-spin.ant-spin-spinning {
      --ant-spin-dot-size: 100px;

      .ant-spin-dot {
        display: flex;
        align-items: center;
        padding: 20px 0 0 20px;
      }
    }

    .ant-pagination {
      margin: 16px !important;
    }

    .ant-pro-table-list-toolbar-container {
      padding-inline: 12px;
      padding-block: 12px;
    }

    .ant-pro-query-filter {
      padding: 12px;
    }
  }

  :global {
    thead.ant-table-thead {
      tr>th.ant-table-cell {
        padding: 6px 16px !important;
        border-color: #E3E3E3;
        background: #F7F7F7;
        font-size: 12px;
        color: #616161;
        font-weight: 550;
        border-radius: 0 !important;

        &::before {
          display: none;
        }
      }
    }

    tbody.ant-table-tbody {
      tr>td.ant-table-cell {
        padding: 10px 16px !important;
        font-size: 12px;
        font-weight: 550;
        color: var(--primaryColor);
      }
    }

    .ant-table-placeholder {
      .ant-empty-normal {
        margin-block: 60px;
      }

      .ant-table-cell {
        border-bottom: none;
      }
    }
  }
}