body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #005BD3;
}

.app-container {
  min-height: 100vh;
  position: relative;
  padding: 0 24px;
}

.app-page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}