.form_list {
  :global {
    .ant-pro-form-list-container {
      width: 100%;
    }

    .ant-pro-form-list-action {
      height: auto;
    }

    .ant-pro-form-list-item {
      gap: 16px;
      padding: 0;
      margin-bottom: 24px;
    }

    .ant-pro-form-list-action {
      margin-block-end: 20px;
    }
  }

  .form_item {
    position: relative;
    background: #fff;
    padding: 30px 16px 16px 24px;
    border-radius: 16px;
    border: 1px solid #f0f0f0;
  }

  .actions {
    position: absolute;
    right: 16px;
    top: 12px;
  }
}